body {
  background: #bbd2c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976,
    #bbd2c5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #292e49,
    #536976,
    #bbd2c5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  align-content: center;
}
body {
  color: antiquewhite;
}

footer {
  color: #292e49;
  padding: 25px;
  margin-top: 25px;
  background-color: #292e49;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
footer i {
  margin: 0 0.25em 0.5em 0.25em;
}
